.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ctn-input {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  list-style: none;
}
.movie{
  text-align: center;
}

.movie h3, .movie p {
  margin-top: 2px;
}
.movie p {
  margin-bottom: 10px;
}

.movie img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}